#article-index-carousel{
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #080808;
}

#instagram-post-header-container{
    height: min-content;
    display: flex;
    justify-content: center;
}

#instagram-post-center-container{
    height: min-content;
    display: flex;
    justify-content: center;
}

#instagram-post-footer-container{
    height: min-content;
    display: flex;
    justify-content: center;
}

#instagram-post-header{
    background: black;
    color: white;
    width: 56vh;
    max-width: 80vw;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    height: 4.5rem;
    z-index: 10;
}

#instagram-post-center{
    background: black;
    color: white;
    width: 56vh;
    max-width: 80vw;
    height: auto;
    aspect-ratio: 4 / 5;
    border: 1px solid white;
    border-bottom: 0;
    border-top: 0;
    z-index: 1;
    position: relative;
}

#instagram-post-footer{
    background: black;
    color: white;
    width: 56vh;
    max-width: 80vw;
    border: 1px solid white;
    border-radius: 0 0 10px 10px;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#instagram-header-profile-container{
    display: flex;
    height: 100%;
    border-radius: 10px 10px 0 0;
    z-index: 1;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    justify-content: space-between;
}

#instagram-header-profile{
    display: flex;
    justify-content: left;
    align-items: center;
}

#instagram-header-profile-container:hover {
    opacity: 0.7;
}

#instagram-header-profile-picture{
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
    width: 2.5rem;
    height: 2.5rem;
}

#instagram-header-profile-container p{
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

#instagram-post-buttons-left{
    margin-left: 1rem;
}

#instagram-post-buttons-right{
    margin-right: 0.5rem;
}

.instagram-button{
    cursor: pointer;
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.5rem;
}

.instagram-button:hover {
    opacity: 0.7;
}

.instagram-button path {
    stroke: white;
    stroke-linejoin: round;
}

.instagram-slick{
    position: absolute;
    width: calc((56vh - 1px)*3 + 3rem*3);
    max-width: calc(80vw*3 + 3rem*3);
    z-index: 10;
    left: 50%; /* Centramos el carrusel desde la mitad del contenedor padre */
    transform: translateX(-50%); /* Ajuste para que el carrusel esté completamente centrado */
}

.instagram-slick img{
    width: calc(56vh - 1px);
    max-width: 80vw;
    height: auto;
    aspect-ratio: 4 / 5;
    padding: 0 1.5rem 0 1.5rem;
}

#instagram-header-profile-follow{
    background: #0095f6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

#instagram-header-profile-follow p{
    padding: 0.3rem 0.6rem;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 500;
}

#instagram-header-profile-follow img{
    width: 1rem;
    height: auto;
}

@media (max-width: 900px) {

}